.navigation {
  background-color: $color-white;
  position: fixed;
  top: 8rem;
  height: 60vh;
  width: 25rem;
  transition-duration: 500ms;

  &__item {
    margin-top: 0.4rem;
  }

  &__list {
    font-size: 1.5em;
    text-transform: capitalize;
    margin-left: margin-left-1;
    margin-bottom: $margin-bottom-1;
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    cursor: pointer;
    transition: 2s;
  }

  &__category {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;

    &--list {
      font-size: 1.8rem;
      text-align: start;
      margin-left: margin-left-1;
      text-transform: capitalize;
      border-bottom: 0.5rem solid $color-grey-light;
    }
  }

  &__detail {
    position: absolute;
    bottom: 0;
    left: 9rem;
    font-size: 1.3rem;
    background-color: $color-grey-light;
    padding: 0 0.3rem;
  }

  &__callus {
    background-color: $color-green;
    color: $color-white;
    padding: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: 0.5rem 1rem $color-grey-light;
    cursor: pointer;
  }
}

.off {
  transform: translateX(-50vh);
}
