.slides {
  width: 98%;
  margin: 0 auto;
  margin-top: 1rem;

  &__items {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    display: inline-block;
    position: relative;
  }

  &__img {
    width: 100%;
    padding: 1rem;
    background-color: $color-white;
  }

  &__text {
    position: absolute;
    top: 50%;
    background-color: $color-white;
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0.1rem 0.3rem 0.4rem 0.3rem $color-grey-light;

    &--link {
      text-decoration: none;
      color: rgba(28, 116, 218, 0.753);
    }
  }

  &__bottomtext {
    position: absolute;
    bottom: 1.5rem;
    background-color: rgba(28, 117, 218, 0.288);
    width: 100%;
    padding: 2rem 0;
    font-size: 3.6rem;
    color: $color-white;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 0.2rem $color-primary-light;
    text-transform: capitalize;
    font-weight: 600;
  }

  &__textspan {
    font-size: 1.6rem;
    margin-left: 1rem;
  }
}
