*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h4 {
  border-left: 2rem solid rgba(28, 116, 218, 0.753);
}

h6 {
  font-size: 1.6rem;
  width: 95%;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: transparent;
  z-index: 99;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.header__detailscontainer {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
}

.header__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profileDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profile {
  margin-right: 1rem;
}

.header__cart {
  margin-left: 1rem;
}

.header__name {
  color: #000;
  margin-left: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-size: 3rem;
}

.header__menu {
  background-color: #000;
  width: 2.5rem;
  height: 0.3rem;
  margin-left: 1rem;
  position: relative;
  cursor: pointer;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.header__menu::after, .header__menu::before {
  content: "";
  width: 2.5rem;
  height: 0.3rem;
  background-color: #000;
  position: absolute;
}

.header__menu::before {
  -webkit-transform: translateY(-0.6rem);
          transform: translateY(-0.6rem);
}

.header__menu::after {
  -webkit-transform: translateY(0.6rem);
          transform: translateY(0.6rem);
}

.header.active {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.navigation {
  background-color: #fff;
  position: fixed;
  top: 8rem;
  height: 60vh;
  width: 25rem;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.navigation__item {
  margin-top: 0.4rem;
}

.navigation__list {
  font-size: 1.5em;
  text-transform: capitalize;
  margin-left: margin-left-1;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
}

.navigation__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
}

.navigation__category--list {
  font-size: 1.8rem;
  text-align: start;
  margin-left: margin-left-1;
  text-transform: capitalize;
  border-bottom: 0.5rem solid #eaeaea;
}

.navigation__detail {
  position: absolute;
  bottom: 0;
  left: 9rem;
  font-size: 1.3rem;
  background-color: #eaeaea;
  padding: 0 0.3rem;
}

.navigation__callus {
  background-color: green;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0.5rem 1rem #eaeaea;
          box-shadow: 0.5rem 1rem #eaeaea;
  cursor: pointer;
}

.off {
  -webkit-transform: translateX(-50vh);
          transform: translateX(-50vh);
}

.slides {
  width: 98%;
  margin: 0 auto;
  margin-top: 1rem;
}

.slides__items {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.slides__list {
  display: inline-block;
  position: relative;
}

.slides__img {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
}

.slides__text {
  position: absolute;
  top: 50%;
  background-color: #fff;
  padding: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0.1rem 0.3rem 0.4rem 0.3rem #eaeaea;
          box-shadow: 0.1rem 0.3rem 0.4rem 0.3rem #eaeaea;
}

.slides__text--link {
  text-decoration: none;
  color: rgba(28, 116, 218, 0.753);
}

.slides__bottomtext {
  position: absolute;
  bottom: 1.5rem;
  background-color: rgba(28, 117, 218, 0.288);
  width: 100%;
  padding: 2rem 0;
  font-size: 3.6rem;
  color: #fff;
  text-align: center;
  text-shadow: 0.5rem 0.5rem 0.2rem rgba(28, 117, 218, 0.048);
  text-transform: capitalize;
  font-weight: 600;
}

.slides__textspan {
  font-size: 1.6rem;
  margin-left: 1rem;
}

.product {
  margin-top: 3rem;
  -webkit-box-shadow: 1rem 0.2rem 1rem #eaeaea;
          box-shadow: 1rem 0.2rem 1rem #eaeaea;
  padding-bottom: 2rem;
}

.product__img {
  width: 80%;
  height: 70%;
}

.product__item {
  padding-bottom: 1rem;
  text-align: center;
}

.product__item:hover {
  -webkit-box-shadow: 0 0.2rem 0.3rem #eaeaea;
          box-shadow: 0 0.2rem 0.3rem #eaeaea;
}

.product__link {
  text-decoration: none;
  color: #333;
}

.product__list {
  width: 90%;
  list-style: none;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.product__details {
  text-align: center;
}

.product__price {
  font-size: 1.6rem;
  background-color: #f8f8f8;
  font-weight: 500;
}

.product__name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.product__phrase {
  font-size: 1.6rem;
  width: 90%;
  margin: 1rem auto;
  background-color: #eaeaea;
  padding: 0.5rem;
}

.product__addtocart {
  text-align: start;
}

.product__addtocart--text {
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #eaeaea;
}

.arrivals {
  background-color: rgba(28, 117, 218, 0.048);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 117, 218, 0.048)), to(#fff));
  background-image: linear-gradient(to bottom, rgba(28, 117, 218, 0.048), #fff);
}

.arrivals__img {
  width: 100%;
  height: 100%;
}

.arrivals__item {
  width: 70%;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0rem 0.3rem 0.5rem #eaeaea;
          box-shadow: 0rem 0.3rem 0.5rem #eaeaea;
}

.arrivals__link {
  text-decoration: none;
}

.arrivals__details {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.arrivals__name {
  color: #000;
}

.arrivals__price {
  color: #000;
  font-weight: 500;
}

.fa-user,
.fa-cart-plus {
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.fa-search {
  outline: none;
  border: none;
  background-color: #eaeaea;
  cursor: pointer;
}

.fa-phone-volume,
.fa-address-card {
  margin-left: 1rem;
}

.fa-shopping-cart {
  font-size: 5rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 50%;
  text-align: center;
}

.fa-heart,
.fa-trash-alt {
  font-size: 1.6rem;
  color: #db8c25;
}

.fa-trash-alt {
  margin-left: 1rem;
}

.fa-heart {
  border-right: 0.2rem solid #eaeaea;
  padding: 0.5rem;
}

.icon {
  color: rgba(38, 149, 214, 0.685);
}

.activeIcon {
  color: rgba(28, 116, 218, 0.753);
}

.fa-user-check {
  color: rgba(28, 116, 218, 0.753);
  font-size: 1.3rem;
}

.searchtest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchtest__inputcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.searchtest__input {
  border-radius: 0.5rem;
  border: 2px solid rgba(28, 116, 218, 0.753);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: #eaeaea;
  width: 0%;
  display: none;
}

.searchtest__input:focus {
  outline: none;
}

.searchtest__input::-webkit-input-placeholder {
  color: #000;
  opacity: 40%;
  text-align: center;
}

.searchtest__input:-ms-input-placeholder {
  color: #000;
  opacity: 40%;
  text-align: center;
}

.searchtest__input::-ms-input-placeholder {
  color: #000;
  opacity: 40%;
  text-align: center;
}

.searchtest__input::placeholder {
  color: #000;
  opacity: 40%;
  text-align: center;
}

.searchtest__searchbutton {
  padding: 0.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: #eaeaea;
  color: rgba(28, 116, 218, 0.753);
  border: 1px solid rgba(28, 116, 218, 0.753);
}

.searchexpand {
  width: 80%;
  margin-left: 0.5rem;
  -webkit-transition: 2s;
  transition: 2s;
}

.categories {
  background-image: -webkit-gradient(linear, left top, right top, from(#3498db2d), to(#fff));
  background-image: linear-gradient(to right, #3498db2d, #fff);
  border-bottom: 0.1rem solid #3498db10;
  padding-top: 10rem;
}

.categories__text {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__list {
  list-style: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  height: 3rem;
  background-color: rgba(28, 117, 218, 0.048);
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  text-transform: capitalize;
  padding: 0 0.5rem;
}

.cart {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  padding-top: 6rem;
  -webkit-box-shadow: 0.5rem 1rem 0.5rem #eaeaea;
          box-shadow: 0.5rem 1rem 0.5rem #eaeaea;
}

.cart__details {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.cart__shopping {
  font-size: 1.4rem;
  background-color: #ff7730;
  width: 80%;
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0.5rem 1rem 1rem 1rem #fff;
          box-shadow: 0.5rem 1rem 1rem 1rem #fff;
  text-transform: uppercase;
}

.cart__login {
  color: #ffb900;
}

.cart__empty {
  font-size: 1.4rem;
  color: #808080e7;
}

.cart__description {
  text-align: center;
}

.cart__help {
  margin-top: 1rem;
}

.cart__chat {
  font-size: 1.2rem;
}

.cart__call {
  font-size: 1.3rem;
  color: #808080e7;
}

.cartitem {
  width: 96%;
  margin: auto;
  padding-top: 10rem;
}

.cartitem__messagedisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  border-top: 0.2rem solid #eaeaea;
}

.cartitem__update {
  width: 90%;
  text-align: center;
  padding: 1rem;
  border: 0.1rem solid rgba(219, 140, 37, 0.342);
  font-size: 1.6rem;
  color: #db8c25;
}

.cartitem__itemnumber {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.cartitem__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.2rem solid #eaeaea;
  border: 0.2rem solid #eaeaea;
  padding: 1rem;
  margin-top: 1rem;
}

.cartitem__img {
  width: 25%;
}

.cartitem__productname {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.cartitem__size {
  font-size: 1.4rem;
  color: #857f7f;
  margin-bottom: 0.5rem;
}

.cartitem__price {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.cartitem__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #eaeaea;
          box-shadow: 0.5rem 0.5rem 0.5rem #eaeaea;
}

.cartitem__incdes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartitem__control {
  margin-left: 1rem;
}

.cartitem__qunatity {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cartitem__qunatity--dec, .cartitem__qunatity--inc {
  background-color: red;
  padding: 0rem;
  border-radius: 50%;
  width: 2rem;
  text-align: center;
  cursor: pointer;
}

.cartitem__qunatity--number {
  margin: 0 0.5rem;
  background-color: #fff;
  color: #ff7730;
  width: 5rem;
  border-bottom: 0.2rem solid #eaeaea;
}

.cartitem__checkoutcontainer {
  width: 98%;
  margin: auto;
  margin-top: 3rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #eaeaea;
          box-shadow: 0.5rem 0.5rem 0.5rem #eaeaea;
}

.cartitem__totalcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cartitem__container {
  background-color: #eaeaea;
  padding: 0.5rem 0;
}

.cartitem__totalword {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.cartitem__totalprice {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.cartitem__checkout {
  text-align: center;
  background-color: goldenrod;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #eaeaea;
          box-shadow: 0.5rem 0.5rem 0.5rem #eaeaea;
  cursor: pointer;
}

.cartitem__policy {
  font-size: 1.2rem;
  margin: 1rem;
}

.cartitem__call {
  text-align: center;
  color: tan;
  font-size: 1.4rem;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.089);
}

.details {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding-top: 10rem;
  z-index: -9999;
}

.details__container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.details__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-bottom: 2rem;
  padding: 0rem 1rem;
  padding-top: 0.5rem;
  border: 0.1rem solid #eaeaea;
}

.details__name {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #808080e7;
}

.details__input {
  border: none;
  background-color: #eaeaea;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
}

.details__input:focus {
  outline: none;
}

.details__input::-webkit-input-placeholder {
  margin-left: 1rem;
}

.details__input:-ms-input-placeholder {
  margin-left: 1rem;
}

.details__input::-ms-input-placeholder {
  margin-left: 1rem;
}

.details__input::placeholder {
  margin-left: 1rem;
}

.details__nextcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__next {
  font-size: 1.4rem;
  border: 0.1rem solid #eaeaea;
  padding: 1rem;
  width: 80%;
  text-transform: uppercase;
}

.details__next--link {
  text-decoration: none;
  float: right;
  background-color: #ff7730;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid #808080e7;
}

.details__summarycontainer {
  margin-top: 3rem;
  width: 80%;
  padding: 1rem;
  margin: 1.5rem auto;
  background-color: rgba(135, 207, 235, 0.158);
}

.details__list {
  font-size: 1.4rem;
  list-style: none;
  width: 60%;
}

.details__item {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details__summary {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.details__alllist {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  width: 70%;
  margin: auto;
  padding: 1rem;
  text-transform: capitalize;
}

.details__allitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #808080e7;
}

.details__allitems--total {
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #eaeaea;
}

.details__allitemprice {
  margin-left: auto;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 0.3rem #ff7730;
          box-shadow: 0 0.3rem #ff7730;
  padding: 0.5rem;
  margin: auto;
}

.steps__list {
  margin-left: 1rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 0.5rem;
  text-transform: uppercase;
}

.steps .active {
  background-color: #ff7730;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.select {
  border: none;
  background-color: #eaeaea;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: #000;
}

.module {
  background-color: #eaeaea;
  margin-top: 1rem;
  padding: 1rem;
}

.module__header {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.logout {
  margin-top: 2rem;
  text-align: center;
}

.logout__word {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #ff7730;
}

.secondaryheading {
  padding: 1.5rem;
  -webkit-box-shadow: 5px 10px 18px #eaeaea;
          box-shadow: 5px 10px 18px #eaeaea;
}

.secondaryheading__word {
  font-size: 2rem;
  text-transform: capitalize;
}

.form {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.form__label {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.form__input {
  padding: 1rem;
  border: none;
  background-color: #f8f8f8;
}

.form__button {
  padding: 1rem 1rem;
  width: 100%;
  background-color: #ff7730;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: 5px 10px 10px #eaeaea;
          box-shadow: 5px 10px 10px #eaeaea;
}

.siginin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.siginin__sitename {
  font-size: 3rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.siginin__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
}

.siginin__input {
  float: right;
  margin-left: margin-left-1;
  width: 100%;
  border-width: 0px;
  border: 0.2rem solid #f8f8f8;
  height: 3rem;
  border-radius: 1.5rem;
}

.siginin__input:focus {
  outline: none;
}

.siginin__label {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.siginin__button {
  width: 60%;
  margin: auto;
  cursor: pointer;
  padding: 0.7rem;
  background-color: darkkhaki;
  border: none;
  color: #fff;
  -webkit-box-shadow: 1rem 0.5rem 0.5rem #f8f8f8;
          box-shadow: 1rem 0.5rem 0.5rem #f8f8f8;
}

.siginin__passwordforgot {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-decoration: none;
  text-decoration: underline;
  color: #ff7730;
}

.siginin__details {
  margin-top: 2rem;
}

.siginin__register {
  float: right;
  font-size: 1.2rem;
  color: darkgreen;
  text-decoration: none;
  text-transform: uppercase;
}

.appear {
  display: none;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.signup__sitename {
  font-size: 3rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
}

.signup__input {
  float: right;
  margin-left: 1rem;
  width: 100%;
  border-width: 0px;
  border: 0.2rem solid #eaeaea;
  height: 3rem;
  border-radius: 1.5rem;
}

.signup__input:focus {
  outline: none;
}

.signup__input::-webkit-input-placeholder {
  padding-left: 1rem;
}

.signup__input:-ms-input-placeholder {
  padding-left: 1rem;
}

.signup__input::-ms-input-placeholder {
  padding-left: 1rem;
}

.signup__input::placeholder {
  padding-left: 1rem;
}

.signup__label {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.signup__button {
  width: 60%;
  margin: auto;
  cursor: pointer;
  padding: 0.7rem;
  background-color: darkkhaki;
  border: none;
  color: #fff;
  -webkit-box-shadow: 1rem 0.5rem 0.5rem #eaeaea;
          box-shadow: 1rem 0.5rem 0.5rem #eaeaea;
}

.signup__passwordforgot {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-decoration: none;
  text-decoration: underline;
  color: #ff7730;
}

.signup__details {
  margin-top: 2rem;
}

.signup__register {
  float: right;
  font-size: 1.2rem;
  color: darkgreen;
  text-decoration: none;
  text-transform: uppercase;
}

.appear {
  display: none;
}

.productpage__imgcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: normal;
  overflow-x: scroll;
  width: 90%;
  margin: auto;
  padding-top: 10rem;
}

.productpage__img {
  -webkit-box-shadow: 0rem 1rem 1rem #eaeaea;
          box-shadow: 0rem 1rem 1rem #eaeaea;
  padding: 0.5rem;
  margin-left: 1rem;
  width: 80%;
}

.productpage__detail {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  -webkit-box-shadow: 0rem 0.2rem 0.5rem #eaeaea;
          box-shadow: 0rem 0.2rem 0.5rem #eaeaea;
  padding: 1rem;
}

.productpage__price {
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: 600;
}

.productpage__name {
  font-size: 1.4rem;
}

.productpage__descriptionbox {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  -webkit-box-shadow: 0rem 0.2rem 0.5rem #eaeaea;
          box-shadow: 0rem 0.2rem 0.5rem #eaeaea;
  padding: 0.5rem;
}

.productpage__description {
  font-size: 1.4rem;
}

.productpage__title {
  font-size: 1.6rem;
  padding: 1rem 0;
  border: 0.2rem solid #f8f8f8;
  text-transform: capitalize;
  font-weight: 500;
}

.productpage__productimgzoom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: none;
}

.productpage__zoomimg {
  white-space: nowrap;
  overflow-x: scroll;
}

.productpage__zoom {
  width: 100%;
}

.addtocart {
  width: 100%;
  position: fixed;
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  background-color: #fff;
  border: 0.2rem solid #eaeaea;
}

.addtocart__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  background-color: #fff;
  margin: auto;
}

.addtocart__calllink {
  color: #ff7730;
}

.addtocart__addlink {
  color: #fff;
  text-decoration: none;
}

.addtocart__call {
  background-color: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0rem 0.2rem 0.5rem #eaeaea;
          box-shadow: 0rem 0.2rem 0.5rem #eaeaea;
  font-size: 1.6rem;
}

.addtocart__add {
  background-color: #ff7730;
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.return {
  margin-top: 2rem;
  -webkit-box-shadow: 0.2rem 0.3rem 0.3rem #eaeaea;
          box-shadow: 0.2rem 0.3rem 0.3rem #eaeaea;
  margin-bottom: 15vh;
}

.return__container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.return__phrase {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.3rem solid #eaeaea;
}

.return__icon {
  padding: 0.5rem;
  background-color: #eaeaea;
  border-radius: 50%;
}

.close {
  font-size: 2rem;
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

.user {
  padding-top: 10rem;
}

.user__container {
  background-color: #eaeaea;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.3px solid rgba(28, 116, 218, 0.753);
}

.user__name {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.user__email {
  font-size: 1.1rem;
}

.account {
  margin: auto;
  margin-top: 2rem;
  -webkit-box-shadow: 0px 0px 2px #888888;
          box-shadow: 0px 0px 2px #888888;
  width: 96%;
  padding: 1rem;
}

.account__list {
  list-style: none;
}

.account__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account__item {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.account__orders {
  margin-left: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}
/*# sourceMappingURL=main.css.map */