//COLLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light: #eaeaea;
$color-grey-light-1: #f8f8f8;

$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//
$color-primary: rgba(28, 116, 218, 0.753);
$color-primary-light: rgba(28, 117, 218, 0.048);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-yellow-light: darkkhaki;

$color-grey-light: #eaeaea;
$color-grey-light-1: #f8f8f8;
$color-grey-dark: #808080e7;
$color-grey-dark-1: #333;

$color-darkgreen: darkgreen;
$color-green: green;
$color-white: #fff;
$color-black: #000;

//font sizes

$margin-bottom-1: 1rem;
$margin-bottom-2: 2rem;

$margin-left-1: 1rem;
$margin-left-3: 3rem;
